* {
    font-family: "JetBrainsMono Nerd Font Mono";
    border: none;
    border-radius: 0;
    font-size: 14px;
    min-height: 0;
    margin: 0;
}

window#waybar {
    border-bottom: none;
    color: #ebdbb2;
    background-color: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
  margin: 10px 0 0 10px;
  padding: 5px 10px;
  border-radius: 100px;
  border-width: 3px;
  border-style: solid;
  border-color: #BCBCBC;
  background-color: #1e1e2e;
  color: #fff;
  box-shadow: none;
}

#workspaces button:hover,
#workspaces button.focused {
    border-color: #FFDF20;
}

#workspaces button.urgent {
    background-color: #2c303c;
}

#mode {
    background-color: #64727d;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#network,
#mode,
#idle_inhibitor,
#mpd {
  margin: 10px 10px 0 0;
  padding: 5px 10px;
  border-radius: 100px;
  border-width: 3px;
  border-style: solid;
  border-color: #BCBCBC;
  background-color: #1e1e2e;
  color: #fff;
  box-shadow: none;
}

#clock {
    border-color: #FFDF20;
}

#battery {
    background-color: #ebdbb2;
    color: #000000;
}

#battery.charging {
    color: #000000;
    background-color: #ebdbb2;
}

@keyframes blink {
    to {
        background-color: #ebdbb2;
        color: #282828;
    }
}

#battery.critical:not(.charging) {
    background-color: #282828;
    color: #282828;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

